<div id="nav" [class.navOpen]="isOpenNav" (click)="toggleNav()">
  <div class="hide__circle" [class.hideOut]="isOpenNav">
      <div class="circle" [class.circleOut]="isOpenNav"></div>
  </div>

  <div class="navbar" [@navBarTrigger]="isOpenNav ? navEnum.OPEN : navEnum.CLOSED">
    <div *ngFor="let barPoint of barMenu" class="navbar__line" [class.open]="barPoint.state">
        <a [href]="barPoint.link">{{ barPoint.name }}</a>
    </div>
  </div>

  <div id="navButton">
      <div class="top"></div>
      <div class="mid"></div>
      <div class="bot"></div>
  </div>
</div>

<div id="navWall" [class.wallOpen]="isOpenNav"></div>
