<!-- <div id="cont">
  <div class="btn" id="left-button">&#8249;</div>
  <div class="btn" id="right-button">&#8250;</div>
  <div class="btn" id="top-button"><p>&#8249;</p></div>
  <div class="btn" id="bottom-button"><p>&#8250;</p></div>
  
  <div id="cube">   
    <div id="first-floar">
        <div class="boxer fronter1">
          <div id="frontSide" class="box front-front front11"></div>
          <div id="frontSide" class="box left-front left11"></div>
          <div id="frontSide" class="box right-front right11"></div>
          <div id="frontSide" class="box top-front top11 orange"></div>
          <div id="frontSide" class="box bottom-front bottom11"></div>
          <div id="frontSide" class="box back-front back11"></div>
        </div> 
        <div class="boxer fronter2">
          <div id="frontSide" class="box front-front front12"></div>
          <div id="frontSide" class="box left-front left12"></div>
          <div id="frontSide" class="box right-front right12"></div>
          <div id="frontSide" class="box top-front top12 orange"></div>
          <div id="frontSide" class="box bottom-front bottom12"></div>
          <div id="frontSide" class="box back-front back12"></div>
        </div>
        <div class="boxer fronter3">
          <div id="frontSide" class="box front-front front13"></div>
          <div id="frontSide" class="box left-front left13"></div>
          <div id="frontSide" class="box right-front right13"></div>
          <div id="frontSide" class="box top-front top13 orange"></div>
          <div id="frontSide" class="box bottom-front bottom13"></div>
          <div id="frontSide" class="box back-front back13"></div>
        </div>

        <div class="boxer meddler1">
          <div id="frontSide" class="box front-front front21"></div>
          <div id="frontSide" class="box left-front left21"></div>
          <div id="frontSide" class="box right-front right21"></div>
          <div id="frontSide" class="box top-front top21 orange"></div>
          <div id="frontSide" class="box bottom-front bottom21"></div>
          <div id="frontSide" class="box back-front back21"></div>
        </div>
        <div class="boxer meddler2">
          <div id="frontSide" class="box front-front front22"></div>
          <div id="frontSide" class="box left-front left22"></div>
          <div id="frontSide" class="box right-front right22"></div>
          <div id="frontSide" class="box top-front top22 orange"></div>
          <div id="frontSide" class="box bottom-front bottom22"></div>
          <div id="frontSide" class="box back-front back22"></div>
        </div>
        <div class="boxer meddler3">
          <div id="frontSide" class="box front-front front23"></div>
          <div id="frontSide" class="box left-front left23"></div>
          <div id="frontSide" class="box right-front right23"></div>
          <div id="frontSide" class="box top-front top23 orange"></div>
          <div id="frontSide" class="box bottom-front bottom23"></div>
          <div id="frontSide" class="box back-front back23"></div>
        </div>

        <div class="boxer backer1">
          <div id="frontSide" class="box front-front front31"></div>
          <div id="frontSide" class="box left-front left31"></div>
          <div id="frontSide" class="box right-front right31"></div>
          <div id="frontSide" class="box top-front top31 orange"></div>
          <div id="frontSide" class="box bottom-front bottom31"></div>
          <div id="frontSide" class="box back-front back31"></div>
        </div>
        <div class="boxer backer2">
          <div id="frontSide" class="box front-front front32"></div>
          <div id="frontSide" class="box left-front left32"></div>
          <div id="frontSide" class="box right-front right32"></div>
          <div id="frontSide" class="box top-front top32 orange"></div>
          <div id="frontSide" class="box bottom-front bottom32"></div>
          <div id="frontSide" class="box back-front back32"></div>
        </div>
        <div class="boxer backer3">
          <div id="frontSide" class="box front-front front33"></div>
          <div id="frontSide" class="box left-front left33"></div>
          <div id="frontSide" class="box right-front right33"></div>
          <div id="frontSide" class="box top-front top33 orange"></div>
          <div id="frontSide" class="box bottom-front bottom33"></div>
          <div id="frontSide" class="box back-front back33"></div>
        </div>
    </div>
      
    <div id="second-floar">
        <div class="boxer fronter1">
          <div id="frontSide" class="box front-front front11"></div>
          <div id="frontSide" class="box left-front left11"></div>
          <div id="frontSide" class="box right-front right11"></div>
          <div id="frontSide" class="box top-front top11"></div>
          <div id="frontSide" class="box bottom-front bottom11"></div>
          <div id="frontSide" class="box back-front back11"></div>
        </div> 
        <div class="boxer fronter2">
          <div id="frontSide" class="box front-front front12"></div>
          <div id="frontSide" class="box left-front left12"></div>
          <div id="frontSide" class="box right-front right12"></div>
          <div id="frontSide" class="box top-front top12"></div>
          <div id="frontSide" class="box bottom-front bottom12"></div>
          <div id="frontSide" class="box back-front back12"></div>
        </div>
        <div class="boxer fronter3">
          <div id="frontSide" class="box front-front front13"></div>
          <div id="frontSide" class="box left-front left13"></div>
          <div id="frontSide" class="box right-front right13"></div>
          <div id="frontSide" class="box top-front top13"></div>
          <div id="frontSide" class="box bottom-front bottom13"></div>
          <div id="frontSide" class="box back-front back13"></div>
        </div>
    
        <div class="boxer meddler1">
          <div id="frontSide" class="box front-front front21"></div>
          <div id="frontSide" class="box left-front left21"></div>
          <div id="frontSide" class="box right-front right21"></div>
          <div id="frontSide" class="box top-front top21"></div>
          <div id="frontSide" class="box bottom-front bottom21"></div>
          <div id="frontSide" class="box back-front back21"></div>
        </div>
        <div class="boxer meddler2">
          <div id="frontSide" class="box front-front front22"></div>
          <div id="frontSide" class="box left-front left22"></div>
          <div id="frontSide" class="box right-front right22"></div>
          <div id="frontSide" class="box top-front top22"></div>
          <div id="frontSide" class="box bottom-front bottom22"></div>
          <div id="frontSide" class="box back-front back22"></div>
        </div>
        <div class="boxer meddler3">
          <div id="frontSide" class="box front-front front23"></div>
          <div id="frontSide" class="box left-front left23"></div>
          <div id="frontSide" class="box right-front right23"></div>
          <div id="frontSide" class="box top-front top23"></div>
          <div id="frontSide" class="box bottom-front bottom23"></div>
          <div id="frontSide" class="box back-front back23"></div>
        </div>
    
        <div class="boxer backer1">
          <div id="frontSide" class="box front-front front31"></div>
          <div id="frontSide" class="box left-front left31"></div>
          <div id="frontSide" class="box right-front right31"></div>
          <div id="frontSide" class="box top-front top31"></div>
          <div id="frontSide" class="box bottom-front bottom31"></div>
          <div id="frontSide" class="box back-front back31"></div>
        </div>
        <div class="boxer backer2">
          <div id="frontSide" class="box front-front front32"></div>
          <div id="frontSide" class="box left-front left32"></div>
          <div id="frontSide" class="box right-front right32"></div>
          <div id="frontSide" class="box top-front top32"></div>
          <div id="frontSide" class="box bottom-front bottom32"></div>
          <div id="frontSide" class="box back-front back32"></div>
        </div>
        <div class="boxer backer3">
          <div id="frontSide" class="box front-front front33"></div>
          <div id="frontSide" class="box left-front left33"></div>
          <div id="frontSide" class="box right-front right33"></div>
          <div id="frontSide" class="box top-front top33"></div>
          <div id="frontSide" class="box bottom-front bottom33"></div>
          <div id="frontSide" class="box back-front back33"></div>
        </div>
    </div>

    <div id="third-floar">
        <div class="boxer fronter1">
          <div id="frontSide" class="box front-front front11"></div>
          <div id="frontSide" class="box left-front left11"></div>
          <div id="frontSide" class="box right-front right11"></div>
          <div id="frontSide" class="box top-front top11"></div>
          <div id="frontSide" class="box bottom-front bottom11 yellow"></div>
          <div id="frontSide" class="box back-front back11"></div>
        </div> 
        <div class="boxer fronter2">
          <div id="frontSide" class="box front-front front12"></div>
          <div id="frontSide" class="box left-front left12"></div>
          <div id="frontSide" class="box right-front right12"></div>
          <div id="frontSide" class="box top-front top12"></div>
          <div id="frontSide" class="box bottom-front bottom12 yellow"></div>
          <div id="frontSide" class="box back-front back12"></div>
        </div>
        <div class="boxer fronter3">
          <div id="frontSide" class="box front-front front13"></div>
          <div id="frontSide" class="box left-front left13"></div>
          <div id="frontSide" class="box right-front right13"></div>
          <div id="frontSide" class="box top-front top13"></div>
          <div id="frontSide" class="box bottom-front bottom13 yellow"></div>
          <div id="frontSide" class="box back-front back13"></div>
        </div>
        
        <div class="boxer meddler1">
          <div id="frontSide" class="box front-front front21"></div>
          <div id="frontSide" class="box left-front left21"></div>
          <div id="frontSide" class="box right-front right21"></div>
          <div id="frontSide" class="box top-front top21"></div>
          <div id="frontSide" class="box bottom-front bottom21 yellow"></div>
          <div id="frontSide" class="box back-front back21"></div>
        </div>
        <div class="boxer meddler2">
          <div id="frontSide" class="box front-front front22"></div>
          <div id="frontSide" class="box left-front left22"></div>
          <div id="frontSide" class="box right-front right22"></div>
          <div id="frontSide" class="box top-front top22"></div>
          <div id="frontSide" class="box bottom-front bottom22 yellow"></div>
          <div id="frontSide" class="box back-front back22"></div>
        </div>
        <div class="boxer meddler3">
          <div id="frontSide" class="box front-front front23"></div>
          <div id="frontSide" class="box left-front left23"></div>
          <div id="frontSide" class="box right-front right23"></div>
          <div id="frontSide" class="box top-front top23"></div>
          <div id="frontSide" class="box bottom-front bottom23 yellow"></div>
          <div id="frontSide" class="box back-front back23"></div>
        </div>
        
        <div class="boxer backer1">
          <div id="frontSide" class="box front-front front31"></div>
          <div id="frontSide" class="box left-front left31"></div>
          <div id="frontSide" class="box right-front right31"></div>
          <div id="frontSide" class="box top-front top31"></div>
          <div id="frontSide" class="box bottom-front bottom31 yellow"></div>
          <div id="frontSide" class="box back-front back31"></div>
        </div>
        <div class="boxer backer2">
          <div id="frontSide" class="box front-front front32"></div>
          <div id="frontSide" class="box left-front left32"></div>
          <div id="frontSide" class="box right-front right32"></div>
          <div id="frontSide" class="box top-front top32"></div>
          <div id="frontSide" class="box bottom-front bottom32 yellow"></div>
          <div id="frontSide" class="box back-front back32"></div>
        </div>
        <div class="boxer backer3">
          <div id="frontSide" class="box front-front front33"></div>
          <div id="frontSide" class="box left-front left33"></div>
          <div id="frontSide" class="box right-front right33"></div>
          <div id="frontSide" class="box top-front top33"></div>
          <div id="frontSide" class="box bottom-front bottom33 yellow"></div>
          <div id="frontSide" class="box back-front back33"></div>
        </div>
    </div>
  </div>
</div> -->



<app-test-component></app-test-component>