<div class="container" (click)="funcTestX()" (wheel)="funcTestY()">
  <div class="cube c_c_M">
    <div class="edge t_l_F" [ngStyle]="{'transform': sad$ | async}">
      <div class="top green"></div>
      <div class="left blue"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge t_c_F">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge t_r_F">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge c_l_F">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge c_c_F">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge c_r_F">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_l_F">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_c_F">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_r_F">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front yellow"></div>
      <div class="right red"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
  
    <div class="edge t_l_M">
      <div class="top green"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge t_c_M">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge t_r_M">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge c_l_M">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge c_r_M">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_l_M">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_c_M">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
    <div class="edge b_r_M">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot white"></div>
      <div class="back"></div>
    </div>
  
    <div class="edge t_l_B">
      <div class="top green"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge t_c_B">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge t_r_B">
      <div class="top green"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge c_l_B">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge c_c_B">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge c_r_B">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge b_l_B">
      <div class="top"></div>
      <div class="left blue"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge b_c_B">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right"></div>
      <div class="bot white"></div>
      <div class="back orange"></div>
    </div>
    <div class="edge b_r_B">
      <div class="top"></div>
      <div class="left"></div>
      <div class="front"></div>
      <div class="right red"></div>
      <div class="bot white"></div>
      <div class="back orange"></div>
    </div>
  </div>
</div>
