<div class="container" (click)="funcEvent()">
  <div class="cube c_c_M">
    <app-edge-cube 
      *ngFor="let position of cubePositions$ | async | keyvalue; trackBy: trackByFn"
      [class]="position.key"
      [classInput]="position.key"
      [attr.axes]="position.value.axes"
      [ngStyle]="{ 'transform': 'rotateX(' + position.value.posX + 'deg) rotateY(' + position.value.posY + 'deg)' }"
      (click)="onClickCube(position)"
      (wheel)="onWheelCube(position)">
    </app-edge-cube>
  </div>
</div>

<a href="./">Main</a>
